<%= form_for @description, :html => { :class => "form-horizontal description" } do |f| %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@description[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@description[:quantity]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@description[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :installation_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :installation_id, :class => 'form-control' %>
    </div>
    <%= error_span(@description[:installation_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            descriptions_path, :class => 'btn btn-default' %>

<% end %>
