<div class="colorhead">
  <!-- Header two Starts -->
  <div class="header-2">

    <!-- Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <!-- Logo section -->
          <div class="logo">
            <h1><a href="#"><i class="fa fa-laptop"></i> Brave</a></h1>
          </div>
        </div>
        <div class="col-md-9">
         <header id="header">
            <div class="container">
              <nav class="navbar navbar-collapsed-sm navbar-default" id="nav" role="navigation">
                <div class="collapse navbar-collapse navbar-header-collapse">
                  <ul class="nav navbar-nav navbar-middle">
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-delay="50" data-hover="dropdown" data-toggle="dropdown" href="#">
                        <span>
                          Home
                          <i class="fa fa-angle-down"></i>
                        </span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li class=" dropdown-submenu">
                          <a href="/">Home</a>
                        </li>
                        <li class="">
                          <a href="/contact">Contact</a>
                        </li>
                        <li class="">
                          <a href="/about">About</a>
                        </li>
                        <li class="">
                          <a href="/help">Help</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-delay="50" data-hover="dropdown" data-toggle="dropdown" href="#">
                        <span>
                          Pages
                          <i class="fa fa-angle-down"></i>
                        </span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li class="">
                          <a href="/informations/one">About us</a>
                        </li>
                        <li class="">
                          <a href="/informations/one">Services</a>
                        </li>
                        <li class="">
                          <a href="/informations/one">FAQ</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-delay="50" data-hover="dropdown" data-toggle="dropdown" href="#">
                        <span>
                          Spirit
                          <i class="fa fa-angle-down"></i>
                        </span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li class="">
                          <a href="/articles">Sharings</a>
                        </li>
                        <li class="">
                          <a href="/testimonies">Testimonies</a>
                        </li>
                        <li class="">
                          <a href="/prayers">Prayers Needs </a>
                        </li>
                        <li class="">
                          <a href="/informations/one">Forms</a>
                        </li>
                        <li class="">
                          <a href="/informations/one">Tables</a>
                        </li>
                        <li class="">
                          <a href="/informations/one">Typography</a>
                        </li>
                        <li class="">
                          <a href="/informations/one">Pricing tables</a>
                        </li>
                        <li class="dropdown-submenu">
                          <a href="/informations/one">
                            Submenu
                            <i class="fa fa-angle-right"></i>
                          </a>
                        </li>
                      </ul>
                    </li>
                     <li class="dropdown">
                      <a class="dropdown-toggle" data-delay="50" data-hover="dropdown" data-toggle="dropdown" href="#">
                        <span>
                          Users
                          <i class="fa fa-angle-down"></i>
                        </span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li class="">
                          <a href="/signup">Log In</a>
                        </li>
                        <li class="">
                          <a href="/signup">Sign Up</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </header>          
        </div>
                <div class="row">
                    <div class="col-md-1">
                      <!-- Logo section -->
                      <div class="logo">
                        <% if current_user %>
                            <!-- Langauge starts -->
                            <div class="tb-language dropdown pull-right">
                             <a href="#" data-target="#" data-toggle="dropdown"><h2 style="color: #8dc153"><i class="fa fa-user"></i><i class="fa fa-angle-down"></i></h2></a>
                              <!-- Dropdown menu with languages -->
                              <ul class="dropdown-menu dropdown-mini" role="menu">
                                <li><%= link_to "All Statuses", statuses_path %></li>
                                <li><a href="#"><%= link_to "Profile", profiles_path(current_user) %></a></li>
                                <li><a href="#"><%= link_to "Settings", edit_user_registration_path %></a></li>
                                <li><%= link_to "Log Out", logout_path, method: :delete %></li>
                                <% else %>
                                <div class="tb-language dropdown pull-right">
                                  <a href="#" data-target="#" data-toggle="dropdown"><h2><i class="fa fa-user"></i><i class="fa fa-angle-down"></i></h2></a>
                                <ul class="dropdown-menu dropdown-mini" role="menu">
                                  <li><%= link_to "Register", register_path %></li>
                                  <li><%= link_to "Log In", login_path %></li>
                                     <% end %>
                              </ul>
                            </div>
                      </div>
                    </div>
                </div>
      </div>
    </div>
  </div>

  <!-- Header two ends -->
</div>