
<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang="en">
  <!-- <![endif] -->
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/topbar' %>
  <%= render 'layouts/header' %>
  <body>
    <div id="wrapper">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <div id="main-content">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>  
  </body>
 <%= render 'layouts/footer' %>
</html>